
{%- for block in section.blocks -%}
    {%- case block.type -%}
        {%- when 'announcement' -%}
            <div class="announcebar announcebar1" style={{ block.settings.announcement_bgcolor }} role="region"
                 aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes   }}>
                {%- if block.settings.text != blank -%}
                    {%- if block.settings.link != blank -%}
                        <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
                    {%- endif -%}
                    <h3>{{ block.settings.text | escape }}
                        {%- if block.settings.link != blank -%}
                            {% render 'icon-arrow' %}
                        {%- endif -%}
                    </h3>
                    {%- if block.settings.link != blank -%}
                        </a>
                    {%- endif -%}
                {%- endif -%}
            </div>
    {%- endcase -%}
{%- endfor -%}

{% schema %}
{
    "name": "t:sections.announcement-bar.name",
    "max_blocks": 12,
    "blocks": [
        {
            "type": "announcement",
            "name": "t:sections.announcement-bar.blocks.announcement.name",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "default": "Welcome to our store",
                    "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
                },
                {
                    "type": "color",
                    "id": "announcement_bgcolor",
                    "label": "Announcement Background Color ",
                    "default": "#800080"
                },
                {
                    
                    "type": "url",
                    "id": "link",
                    "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
                }
            ]
        }
    ],
    "default": {
        "blocks": [
            {
                "type": "announcement"
            }
        ]
    }
}
{% endschema %}